$principal: #f28482;
$second: #3b3d3f;

* {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

*::selection {
    background-color: $principal;
}

.emoji {
    font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container .row {
    padding: 15px 0px;
}

.btn {
    border: 1px $principal solid;
    padding: 5px;
}

.menu li {
    display: inline;
}

.page-title {
    font-size: 450%;
    font-weight: 800;
    color: $principal;
}

.tags ul li {
    display: inline;
    text-decoration: underline overline wavy blue;
}

.single-post {
    width: 40%;
}

.post-miniature {
    border-bottom: 1px grey dashed;
    width: 40%;
}

li.nav-item.active {
    border-bottom: $principal 6px solid;
}
