{{ if or ( .Paginator.HasPrev ) ( .Paginator.HasNext ) }}
<div class="row pagination">

    <div class="col-6 {{ if not .Paginator.HasPrev }}disabled{{ end }}">
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL | relLangURL }}">NEW POSTS</a>
        {{ end }}
    </div>
    <div class="col-6 {{ if not .Paginator.HasNext }}disabled{{ end }}">
        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL | relLangURL }}"> OLD POSTS</a>
        {{ end }}
    </div>

</div>
{{ end }}