{{ define "main" }}
{{ partial "call-to-action.html" . }}

{{ end }}
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <title>awesomefoodie.</title>
</head>

<body>
    <nav>
        <p>awesomefoodie.</p>
        <a>Inicio</a>
        <a>Dulce</a>
        <a>Salado</a>
        <a>Sobre mi</a>
        <a>Contacto</a>
    </nav>
    <section></section>
</body>

</html>