{{ define "main" }}
<main aria-role="main">
    <header class="homepage-header">

    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="page-title">{{.Title}}</h1>
                {{ with .Params.subtitle }}
                <span class="subtitle">{{.}}</span>
                {{ end }}


                <img class="img-fluid" width="150px" src="{{ .Site.Params.Images.Logo | absURL }}"
                    alt="{{ .Site.Title }}">
            </div>


            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>
</main>
{{ end }}